// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}


.wrapper{
  width: 100%;
  height: 100vh;
  
}



.header{
  padding: 0 60px;
  max-width: 100%;
  height: 100px;
  &__box{
    padding: 15px 0 0;
    margin: 0 auto;
    height: 100px;
    // display: flex;
    &-main{
      display: flex;
      h1{
        width: 140px;
        margin-right: 30px;
        // padding-bottom: 10px; ちょっと保留箇所
      }
      &__searchBox{
        width: calc(100% - 140px);
        height: 36px;
        form{
        width: 100%;
        height: 40px;
        margin-bottom: 5px;
        display: flex;
        input{
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }
        button{
          width: 36px;
          height: 35px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
          &__icon{
           height: 20px;
           width: 20px;
          }
        }
        }
      }
    }
    &-bottom{
      display: flex;
      font-size: 14px;
      margin-bottom: 10px;

      ul.listsleft{
        display: flex;
        a{
          text-decoration: none;
          color: #000;
          padding-right: 30px;
        }
      }
      ul.listsright{
        margin-left: auto;
        display: flex;
        a{
          text-decoration: none;
          color: #000;
          padding-right: 30px;
        }
      }
    }
  }
}



.main{
  width: 100%;
  &__visual{
    height: 560px;
    max-width: 100%;
    background-image: url("large.jpg");
    // background-color: #272727;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center ;
    position: relative;
    color: white;
    padding: 0 60px;
    // align-items: center; これが動きませぬ
    &-content{
     width: 744px;
     height: 336px;
     margin: 0 auto;
     padding: 35px 0 0 0;
     h2.main__visual-content__sub{
      text-shadow:0 0 5px rgba(0, 0, 0, 0.4);
      font-size: 60px;
      p{
        font-size: 18px;
      }
    }
    .main__visual-content__btn{
     display: flex;
     margin: 24px 0 0 0;
     a{

     }
    }
    }
  }
  &__visual2{
    height: 400px;
    max-width: 100%;
    background-image: url(bg-topMiddleDl-pict.jpg);
    background-size: cover;
    background-position: bottom right;
    color: white;
    // display: flex; 動きませぬ
    // align-items: center; 動かない
    &-content{
      text-shadow:0 0 5px rgba(0, 0, 0, 0.4);
      h2.main__visual2-content__sub{
        font-size: 27px;
        font-weight: bold;
        // text-align: center;
      }
      p.content__text{
        font-size: 18px;
        margin: 20px 0 30px;
      }
      &__btn{
       display: flex;
      }
    }
  }
  &__visual3{
    height: 360px;
    max-width: 100%;
    background-image: url(bg-appBanner-pict.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 40px;
    position: relative;
    &-content{
      text-align: center;
      color: white;
      h2.main__visual3-content__sub{
        text-shadow:0 0 5px rgba(0, 0, 0, 0.4);
        font-size: 24px;
        font-weight: bold;
      }
      p.content__text{
        text-shadow:0 0 5px rgba(0, 0, 0, 0.4);
        font-size: 35px;
      }
      &__icon{
       width: 100%;
       display: flex;
       justify-content: center;
       margin: 20px auto 0;
      }
    }
  }
  &__box1{
    padding: 60px 20px;
    justify-content: space-around;
  }
  &__box2{
    padding: 60px 100px;
    &__items{
      display: flex;
      section.items{
        text-align: center;
        padding: 0 20px;
        h3.items__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        p.items__detail{
          font-size: 17px;
          margin: 0 0 40px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  h2.main__box__subtitle{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    &::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    }
  }
  ul.lists{
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    li{
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      .list__pict{
        position: relative;
        margin-bottom: 20px;
        span.number{
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
        span{
          color: #3CCACE;
        }
      }
      h3.list__text{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
    }
  }
  }

  &__pickup{
    height: 800px;
    padding: 80px 0 0;
    background-color: #f8f8f8;
    h2.main__pickup__subtitle{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__box{
      margin: 0;
      padding: 0;
      &--head{
       text-align: center;
       a{
        font-size: 24px;
        text-decoration: none;
        color: #3CCACE;
       }
      }
      &--lists{
       width: 780px;
       margin: 26px auto;
       display: flex;
       justify-content: space-around;
       &__box{
         width: 220px;
         display: inline-block;
         float: left;
         a{
           text-decoration: none;
           position: relative;
           background-color: #fff;
           display: inline-block;
          figure.main__pickup__box--lists__box--img{
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
          }
          .main__pickup__box--lists__box__body{
            background-color: white;
            color: #333;
            padding: 16px;
            h3.name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            .price{
              font-size: 16px;
              display: flex;
              justify-content: space-around;
              width: 100%;
              ul.price__comment{
                justify-content: space-around;
                
                width: 100%;
                li.price__comment{
                  display: flex;
                  width: 100%;
                }
              }
            }
          }
         }
       }
      }
    }
  }
}



.footer{
  padding: 60px 0;
  width: 100%;
  height: 360px;
  background-color:#272727;
  // font-size: 12px;
  color: #ffffff;
  // bottom: 0;
  text-align: center;
  ul.footer__contents{
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      li.contents{
      display: flex;
      flex-direction: column;
      width: calc(1/3 * 100%);
      margin: 0 2% 0 0;
      h2.contents__head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul.content{
        font-size: 12px;
        text-decoration: none;
  //       line-height: 32px;
  //       color: #fff;
      li.content__list{

          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        
      }
      }
     }
  }
  // p{
  //   font-size: 14px;
  // }
}


.Exhibitionbtn{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  position: fixed;
  bottom: 32px; 
  right: 32px;
  padding: 15px;
  &__text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
}
