%main
  .main-content
    .mainContainer
      =render "layouts/flash"
      .mainContainer__header
        %h2 商品の情報を入力
      %form
      =form_with model: @item, local: true, class: "mainContainer__form" do |f|
        .mainContainer__form--image
          .contents__main__image
            .imageName
              %label 出品画像
              %span 必須
              .imageName__upload
                %p 最大10枚までアップロードできます
            .contents-image
              .contents__main__image__box
                .contents__main__image__box
                  .contents__main__image__box__previews
                  .contents__main__image__box__uploader
                    %label.contents__main__image__box__uploader__label<>
                      = f.fields_for :item_images do |image|
                        .js-file_group{"data-index" => "#{image.index}"}
                          = image.file_field :image, class: 'js-file'
                      .contents__main__image__box__uploader__text
                        %p クリックしてファイルをアップロード
                        .contents__main__image__box__uploader__text__icon
                          %i.fas.fa-camera 
        .mainContainer__form--name
          .name
            =f.label "商品名"
            %span 必須
            .name__form
              =f.text_field :name, placeholder: "40文字まで" 
          .detail
            =f.label "商品の説明"
            %span 必須
            .detail__textarea
              =f.text_area :detail, placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）　例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
        .mainContainer__form--detail
          .detailName
            %h3 商品の詳細
          .category
            .category__name
              =f.label :category, "カテゴリー"
              %span 必須
              = f.collection_select :category, @category, :id, :name, { prompt: "選択してください" }, { class: "category__name--form", id: "category_select" }
              .product_select-children
              .category__brand
                =f.label :brand, "ブランド"
                %span 任意
                .category__brand--form
                  =f.text_field :brand, placeholder: "40文字まで"
              .category__size
                =f.label :size, "サイズ"
                %span 任意
                .category__size--form
                  =f.text_field :size, placeholder: "40文字まで"
              .category__status
                =f.label :condition, "商品の状態"
                %span 必須
                =f.select :condition,[["新品・未使用"], ["未使用に近い"],  ["目立った傷や汚れなし"], ["やや傷や汚れあり"],["傷や汚れあり"],["全体的に状態が悪い"] ], prompt: "選択してください"
          .mainContainer__form--delivery
            .deliveryName
              %h3 配送について
            .deliveryDetail
              .deliveryDetail__burden
                =f.label :postage_payer, "配送料の負担"
                %span 必須
                .deliveryDetail__burden--select
                  =f.collection_select :postage_id,Postage.all,:id,:name,{prompt: '選択してください'},class:"input__postage"
              .deliveryDetail__area
                =f.label :delivery_city, "発送地域"
                %span 必須
                =f.collection_select :prefecture_id, Prefecture.all,:id,:name, {prompt: '選択してください'} ,class:"input__prefecture"
              .deliveryDetail__date
                =f.label :shipping_term, "発送までの日数"
                %span 必須
                .deliveryDetail__date--select
                  =f.collection_select :day_id, Day.all,:id,:name, {prompt: '選択してください'} ,class:"input__day"
          .mainContainer__form--price
            .priceName
              %p 価格 （¥300〜9,999,999）
            .priceDetail
              .priceDetail__form
                %ul.sell-price
                  %li.price
                    .price__field
                      =f.label :price, "販売価格"
                      %span 必須
                    %span{class: "yen"}¥
                    .price__right
                      .price__right--input
                        =f.text_field :price, id: "price__form", placeholder: "例）300"
                  %li.com
                    .comPrice
                    販売手数料(10%)
                    .stick__tax
                  %li.margin
                    .marginPrice
                    販売利益
                    .stick__margin
            .exihibition
              =f.submit "出品する", class: "exihibition__btn"
              =link_to root_path do
                もどる
            .warning
              %p 
                禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして加盟店規約に同意したことになります。