.footer
  %ul.footer__contents
    %li.contents
      %h2.contents__head
        FURIMAについて
      %ul.content
        %ls
          %a{:href => "/"}
            会社概要（運営会社）
        %ls
          %a{:href => "/"}
            プライベートポリシー
        %ls
          %a{:href => "/"}
            FURIMA利用規約
        %ls
          %a{:href => "/"}
            ポイントに関する特約
    %li.contents
      %h2.contents__head
        FURIMAを見る
      %ul.content
        %ls
          %a{:href => "/"}
            カテゴリー一覧
        %ls
          %a{:href => "/"}
            ブランド一覧
    %li.contents
      %h2.contents__head
        ヘルプ＆ガイド
      %ul.content
        %ls
          %a{:href => "/"}
            FURIMAガイド
        %ls
          %a{:href => "/"}
            FURIMAロゴ利用ガイドライン
        %ls
          %a{:href => "/"}
            お知らせ
  .footer_logo
    %a{:href => "/"}
      %img{:alt => "FURIMA",:src => "assets/logo-white.png",:height => "46px",:width => "160px"}/
  %p ＠FURIMA


