.header
  .header__box
    .header__box-main
      %h1.icon
        %a{:href => "/"}
          %img{:alt => "FURIMA",:height => "40px",:src => "assets/logo.png" , :width => "140px"}/
      .header__box-main__searchBox
        %form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input#searchInput.searchBox--input{:name => "key", :placeholder => "キーワードから探す",:height => "36px",:width =>"575px"}/
          %button{:type => "submit"}
            .searchBox__icon
              %img{alt: "FURIMA",height: "20px",src: "assets/icon-search 1.png" , width: "20px"}/
    .header__box-bottom
      %ul.listsleft
        %li.listsleft__item--first
          = link_to "/" do
            カテゴリー
        %li.listsleft__item
          = link_to "/" do
            ブランド
      %ul.listsright
        %li.listsright__item--login
          = link_to "/" do
            ログイン
        -#  ここにif文が入るよー
        %li.listsright__item--new
          = link_to "/" do
            新規会員登録

.navber
