.confirm-main
  .confirm-box
    .confirm-box__header 購入内容の確認
    .buy-item
      .buy-item__view
        = image_tag "harv.jpeg", class: "confirm-item__img", size: "300x250"
      .buy-item__detail
        .detail-name 心安らぐハーブ
        .detail-price 支払金額　¥125000 
        .detail-tax (税込) 送料込
    .item-derivery
      .item-price お支払い総額 :¥125000
      .delivery-city 配送地域 :愛知県
    .pay-area
      %button{type: "submit", class:'pay-btn'}
        購入する
