.wrapper
  = render "header"
  = render "main"
  = render "footer"


  %a{:href => "/"}
    .Exhibitionbtn
      %span.Exhibitionbtn__text 出品する
      %img{:height => "54px",:src => "assets/icon_camera.png",:width => "54px"}/
