* {
  box-sizing: border-box;
}

.confirm-main {
  padding: 40px;
  margin: 0 auto;
  position: relative;
  background-color: #f8f8f8;
  .confirm-box {
    background-color: #ffffff;
    width: 700px;
    margin: 0 auto;
    
  }
}