* {
  box-sizing: border-box;
}

.donemain{
  height: 400px;
  background-color: white;
  padding-top: 50px;
  margin: 0px auto 0;
  justify-content: center;
  // background-color: white;
  position: relative;
  h2{
    font-size: 20px;
    color: #3CCACE;
    padding: 20px;
  }
  .item-name{
    font-size: 20px;
    padding: 10px;
  }

  .back{
  margin-top: 10px;
  width: 120px;
  height: 50px;
  font-size: 20px;
  background-color: #3CCACE;
  color: white;
  text-align: center;
  a{
  text-decoration: none;
  color: white;
  }
  }
}


