.bbox {
  text-align: center;
  margin: auto;
  padding-top: 50px;
  width: 200px;
  h2{
    font-size: 20px;
    font-weight: bold;
    color: red;
  }
}
.bbox2{
  text-align: center;
  .item2{
    font-weight: bold;
    .item2_name{
      font-size: 20px;
    }
    .item2_price{
      font-size: 20px;
    }
  }
  .show-item__main{
    object-fit: contain;
    width: auto;
  }
}
.bbtn{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
    .btnbtn-default{
      background-color: #3CCACE;
      color: #ffffff;
      display: block;
      margin-top: 16px;
      font-weight: 600;
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 60px;
      text-decoration: none;
      text-align: center;
    }
  }