body {
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  .main-content {
    .mainContainer {
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      &__messages{
        background-color: red;
        color: white;
        font-weight: bold;
        text-align: center;
      }
      &__header h2 {
        text-align: center;
        line-height: 1.5;
        border-bottom: 1px solid #efefef;
      }
      &__header h2 {
        padding: 32px 16px;
        font-size: 22px;
      }
      &__form {
        align-items: center;
        &--image {
          padding: 40px;
          &:after {
            content: '';
            display: block;
            clear: both;
          }
          .contents__main__image {
            .imageName {
              font-weight: 600;
              &__upload {
                margin: 16px 0 0 0;
                line-height: 1.4em;
                font-size: 14px;
                font-weight: lighter;
                height: 100%;
              }
            }
          }
          .imageName span {
            background-color: #3CCACE;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            text-align: center;
            font-weight: 600;
          }
        }
        .contents-image {
          .contents {
            background-color: rgb(245, 245, 245);
            height: 100%;
            width: 100%;
            .clearfix::after {
              content: "";
              clear: both;
              display: block;
            }
            &__main{
              width: 700px;
              margin: 0 auto;
              background-color: #fff;
              &__header{
                text-align: center;
                font-size: 22px;
                height: 97px;
                line-height: 97px;
              }
              &__image {
                border-top: 1px solid #eee;
                padding: 40px;
                font-size: 13px;
                height: 100%;
                &__head{
                  font-size: 16px;
                  display: flex;
                  font-weight: bold;
                  margin-bottom: 5px;
                  line-height: 20px;
                }
                &__box{
                  width: 630px;
                  margin-top: 5px;
                  display: flex;
                  &__previews {
                    display: flex;
                    width: 620px;
                    height: 162px;
                    max-width: 620px;
                    &__preview {
                      &__image {
                        .input_images {
                          vertical-align: bottom;
                        }
                      }
                      &__delete {
                        width: 120px;
                        height: 40px;
                        color: #0099E8;
                        background-color: #F5F5F5;
                        text-align: center;
                        line-height: 40px;
                        border: 1px solid #EEEEEE;
                      }
                    }
                  }
                  &__uploader {
                    border: 1px dashed #ccc;
                    background-color: #F5F5F5;
                    width: 500%;
                    height: 160px;
                    .js-file_group {
                      display: none;
                      opacity: 0;
                    }
                    &__text {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-size: 12px;
                      width: 100%;
                      height: 100%;
                      cursor: pointer;
                      position: relative;
                      &__icon {
                        position: absolute;
                        top: 55px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &--name {
          padding: 40px;
          border-top: 1px solid #eee;
          &:after {
            content: '';
            display: block;
            clear: both;
          }
          .name {
            label {
              font-weight: 600;
            }
            span {
              background-color: #3CCACE;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            text-align: center;
            font-weight: 600;
            }
            &__form input {
              border: 1px solid #cccccc;
              border-radius: 4px;
              box-sizing: border-box;
              height: 48px;
              margin: 0;
              outline: none;
              padding: 0 16px;
              width: 100%;
              font-size: 16px;
              margin-top: 16px;
            }
          }
          .detail {
            margin: 40px 0 0;
            width: 100%;
            label {
              font-weight: 600;
            }
            span {
              background-color: #3CCACE;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            text-align: center;
            font-weight: 600;
            }
            &__textarea {
              margin-top: 16px;
              textarea {
                margin: 8px 0 0;
                display: block;
                box-sizing: border-box;
                width: 100%;
                max-width: 100%;
                min-height: 104px;
                padding: 10px;
                border: 1px solid #cccccc;
                background: #fff;
                font-size: 16px;
                line-height: 1.5;
                border-radius: 4px;
              }
            }
          }
        }
        &--detail {
          padding: 40px;
          border-top: 1px solid #efefef;
          &:after {
            content: '';
            display: block;
            clear: both;
          }
          .detailName h3 {
            font-size: 14px;
            color: #888;
          }
          .category {
            width: 100%;
            margin-top: 32px;
            &__name {
              margin: 0;
              label {
                font-weight: 600;
              }
              span {
                background-color: #3CCACE;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                text-align: center;
                font-weight: 600;
              }
              select {
                width: 100%;
                position: relative;
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                margin-top: 16px;
              }
              &--size {
                padding-top: 15px;
              }
            }
            &__brand {
              margin: 40px 0 0;
              label {
                font-weight: 600;
              }
              span {
                background-color: #bfbfbf;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                text-align: center;
                font-weight: 600;
              }
              &--form input {
                border: 1px solid #cccccc;
                border-radius: 4px;
                box-sizing: border-box;
                height: 48px;
                margin: 0;
                outline: none;
                padding: 0 16px;
                width: 100%;
                font-size: 16px;
                margin-top: 16px;
              }
            }
            &__size {
              margin: 40px 0 0;
              label {
                font-weight: 600;
              }
              span {
                background-color: #bfbfbf;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                text-align: center;
                font-weight: 600;
              }
              &--form input {
                border: 1px solid #cccccc;
                border-radius: 4px;
                box-sizing: border-box;
                height: 48px;
                margin: 0;
                outline: none;
                padding: 0 16px;
                width: 100%;
                font-size: 16px;
                margin-top: 16px;
              }
            }
            &__status {
              margin: 40px 0 0;
              label {
                font-weight: 600;
              }
              span {
                background-color: #3CCACE;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                text-align: center;
                font-weight: 600;
              }
              select {
                width: 100%;
                position: relative;
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                margin-top: 16px;
              }
            }
          }
        }
        &--delivery {
          padding: 40px;
          border-top: 1px solid #efefef;
          &:after {
            content: '';
            display: block;
            clear: both;
          }
          .deliveryName h3 {
            font-size: 14px;
            color: #888;
          }
          .deliveryDetail {
            width: 100%;
            margin-top: 32px;
            select {
              width: 100%;
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              margin-top: 16px;
            }
            span {
              background-color: #3CCACE;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              text-align: center;
              font-weight: 600;
            }
            label {
              font-weight: 600;
            }
            &__area {
              margin: 40px 0 0;
            }
            &__date {
              margin: 40px 0 0;
            }
          }
        }
        &--price {
          
          padding: 40px 40px 64px;
          border-top: 1px solid #efefef;
          &:after {
            content: '';
            display: block;
            clear: both;
          }
          .priceName p {
            color: rgb(136, 136, 136);
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
            margin-bottom: 24px;
          }
          .priceDetail {
            width: 100%;
            margin-top: 32px;
            &__form {
              ul {
                list-style: none;
                padding: 0 0 24px;
                .price {
                  display: flex;
                  &:after {
                    content: '';
                    display: block;
                    clear: both;
                  }
                  padding: 0 0 24px;
                  &__field {
                    float: left;
                    line-height: 48px;
                    margin-right: 222px;
                    white-space: nowrap;
                    label {
                      font-weight: 600;
                    }
                    span {
                      background-color: #3CCACE;
                      margin: 0 0 0 8px;
                      padding: 2px 4px;
                      border-radius: 2px;
                      color: #fff;
                      font-size: 12px;
                      vertical-align: top;
                      text-align: center;
                      font-weight: 600;
                    }
                  }
                  .yen {
                    font-size: 14px;
                    margin-right: 7px;
                    line-height: 48px;
                  }
                  &__right {
                    float: right;
                    width: 45%;
                    &--input {
                      display: inline-block;
                      width: 90%;
                      margin: 0 0 0 5%;
                      height: 48px;
                      input {
                        width: 100%;
                        margin: 0;
                        text-align: right;
                        padding: 10px 16px 8px;
                        border-radius: 4px;
                        border: 1px solid #cccccc;
                        line-height: 1.5;
                        font-size: 16px;
                      }
                    }
                  }
                }
                .com {
                  padding: 12px 0px;
                  .comPrice {
                    padding: 0;
                  }
                  .stick__tax {
                    float: right;
                  }
                }
                .margin {
                  .marginPrice {
                    padding: 12px 0px;
                    border-top: 1px solid #efefef;
                  }
                  .stick__margin {
                    float: right;
                  }
                }
              }
            }
          }
          .exihibition {
            &__btn {
              margin: 24px auto 0;
              background-color: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              line-height: 48px;
              font-size: 18px;
              border-radius: 4px;
              display: block;
              cursor: pointer;
            }
            a {
              margin: 24px auto 0;
              background-color: #aaa;
              border: 1px solid #aaa;
              color: black;
              width: 60%;
              line-height: 48px;
              font-size: 16px;
              text-align: center;
              display: block;
              border-radius: 4px;
            }
          }
          .warning p {
            font-size: 12px;
            line-height: 1.5;
            margin-top: 32px;
          }
        }
      }
    }
  }
}